In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn
from scipy.stats import poisson

In [4]:
buli_1819 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/D1.csv")
buli_1819.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,D1,24/08/2018,Bayern Munich,Hoffenheim,3,1,H,1,0,H,...,3.55,22,-2.00,1.92,1.87,2.05,1.99,1.23,7.15,14.10
1,D1,25/08/2018,Fortuna Dusseldorf,Augsburg,1,2,A,1,0,H,...,1.76,20,0.00,1.80,1.76,2.17,2.11,2.74,3.33,2.78
2,D1,25/08/2018,Freiburg,Ein Frankfurt,0,2,A,0,1,A,...,1.69,20,-0.25,2.02,1.99,1.92,1.88,2.52,3.30,3.07
3,D1,25/08/2018,Hertha,Nurnberg,1,0,H,1,0,H,...,1.76,20,-0.25,1.78,1.74,2.21,2.14,1.79,3.61,5.21
4,D1,25/08/2018,M'gladbach,Leverkusen,2,0,H,0,0,D,...,2.32,20,0.00,2.13,2.07,1.84,1.78,2.63,3.70,2.69

In [5]:
buli_1819 = buli_1819[['HomeTeam', 'AwayTeam','FTHG', 'FTAG']]
buli_1819 = buli_1819.rename(columns={'FTHG': 'HomeGoals', 'FTAG':'AwayGoals'})
buli_1819.head()

             HomeTeam       AwayTeam  HomeGoals  AwayGoals
0       Bayern Munich     Hoffenheim          3          1
1  Fortuna Dusseldorf       Augsburg          1          2
2            Freiburg  Ein Frankfurt          0          2
3              Hertha       Nurnberg          1          0
4          M'gladbach     Leverkusen          2          0

In [6]:
buli_1819.mean()

HomeGoals    1.790850
AwayGoals    1.388889
dtype: float64

In [ ]:
import statsmodel.api as sm
import statsmodel.formula.api as smf

# goal_model_data = pd.concat([buli_1819[[]]])